header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: orange;
    color: white;
}

ul{
    list-style: none;
    display: flex;
}

.logo-header{
    width: 150px;
}

.icone{
    display: flex;
}

main{
    padding: 20px;
    background-color: white;
}

.first-three-img{
    display: flex; 
    justify-content: center; 
    gap: 10px;
    margin-bottom: 20px;
    background-color: white;
    position: relative;
}

.first-three-img-hover{
    display: none;
}




.last-three-img{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: white;
    position: relative;
}

.last-three-img-hover{
    display: none;
}





svg{
    width: 15px;
    position: absolute;
    margin-left: -20px;
    margin-top: 10px;
    border: 20px;
    background-color: white;
}

.description-img{
    background-color: white;
}

img{
    width: 200px;
}


footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}